html 
    head 
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
        link(rel='stylesheet', href='/styles/admin/homeaccessories.css')
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
        title X-Mobie / Admin
    body
        .countdown
            .countt
                h6 Phiên làm việc sẽ kết thúc trong:  
                h6#demo.count
                script.
                    var countDownDate = new Date(#{z}+30*60*1000).getTime();
                    var x = setInterval(function() {
                        var now = new Date().getTime();
                        var distance = countDownDate - now;
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("demo").innerHTML = "Vui lòng đăng nhập lại để tiếp tục!";
                        }
                    }, 1000);
            .infouser
                i.fas.fa-user
                span= fullname
                br
                i.fas.fa-tag 
                span= role
                br
                a.logout.btn.btn-sm.btn-danger(href='/admin/logout') Đăng xuất
        .title
            .center 
                a(href='/admin') 
                    h4 X-MOBILE
            .center
                h1 QUẢN LÝ PHỤ KIỆN
        .form.center
            form(action='/admin/accessories/search', method='get')
                    input(type='text', name='q', placeholder='Nhập tên sản phẩm...')
                    button(type='submit')
                        i.fas.fa-search
            a.btn.btn-sm.btn-primary.ml-2(href='/admin/phones') Quản lý điện thoại
            a.btn.btn-sm.btn-primary.ml-2(href='/admin/accessories') Quản lý phụ kiện
            a.btn.btn-sm.btn-primary.ml-2(href='/admin/news') Quản lý tin tức
            a.btn.btn-sm.btn-primary.ml-2(href="/admin/orders") Quản lý đơn hàng
            a.btn.btn-sm.btn-primary.ml-2(href="/admin/users") Quản lý nhân sự
        table.cart
            tbody
                tr.title
                    th
                        .center 
                            span  SẢN PHẨM
                                button.ml-2.btn-circle.btn-primary.btn(type='button' data-toggle='modal' data-target='#addNew')  
                                    i.fas.fa-plus-circle
                                #addNew.modal.fade
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Thêm sản phẩm
                                                button.close(type='button' data-dismiss='modal') × 
                                            .modal-body
                                                form.form-signin(action="/admin/accessories/add-new", method="post", enctype='multipart/form-data') 
                                                    .form-label-group
                                                        input#inputnewName.form-control(name='newName' type='text' placeholder='Tên sản phẩm' required='' autofocus='')
                                                    br
                                                    select.custom-select.d-block.w-100(name="type_detail" required='')
                                                        option(selected='' disabled='' value='') Loại phụ kiện
                                                        option(value='case') Ốp lưng
                                                        option(value='charger_cable') Cáp sạc / Củ sạc
                                                        option(value='battery') Pin dự phòng
                                                    br
                                                    .form-label-group
                                                        input#inputnewPrice.form-control(name='newPrice' type='text' placeholder='Giá sản phẩm' required='' autofocus='')
                                                    br
                                                    .form-label-group
                                                        input#inputnewQuantity.form-control(name='newQuantity' type='text' placeholder='Số lượng sản phẩm' required='' autofocus='')
                                                    br
                                                    .containerr
                                                        .panel
                                                            .button_outer
                                                                .btn_upload
                                                                    input#upload_file(type='file' name='image' required='' autofocus='')
                                                                    | Chọn ảnh
                                                                .processing_bar
                                                                .success_box
                                                        .error_msg
                                                        #uploaded_view.uploaded_file_view
                                                            span.file_remove X
                                                    script.
                                                        var btnUpload = $("#upload_file"),
                                                        btnOuter = $(".button_outer");
                                                        btnUpload.on("change", function(e){
                                                            var ext = btnUpload.val().split('.').pop().toLowerCase();
                                                            if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
                                                                $(".error_msg").text("Sai định dạng! Vui lòng chọn lại...");
                                                            } else {
                                                                $(".error_msg").text("");
                                                                btnOuter.addClass("file_uploading");
                                                                setTimeout(function(){
                                                                    btnOuter.addClass("file_uploaded");
                                                                },3000);
                                                                var uploadedFile = URL.createObjectURL(e.target.files[0]);
                                                                setTimeout(function(){
                                                                    $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
                                                                },3500);
                                                            }
                                                        });
                                                        $(".file_remove").on("click", function(e){
                                                            $("#uploaded_view").removeClass("show");
                                                            $("#uploaded_view").find("img").remove();
                                                            btnOuter.removeClass("file_uploading");
                                                            btnOuter.removeClass("file_uploaded");
                                                        });
                                                    .modal-footer
                                                        button.btn.btn-primary(type='submit') Xác nhận 
                    th.price
                        .center ĐƠN GIÁ
                    th.qty
                        .center SỐ LƯỢNG
                    th.action
                        .center HÀNH ĐỘNG
                each product in products
                    tr
                        td
                            .center
                                img(src= '../images/' + product.url)
                                p= product.name
                        td
                            .center= product.price.toLocaleString("fi-FI") + '₫'
                        td.qty 
                            .center= product.quantity
                        td.action
                            .center
                                button.btn-sm.btn.btn-primary(type='button' data-toggle='modal' data-target='#modifyName'+product.productId)
                                    | Thay đổi tên sản phẩm
                                .modal(id= ('modifyName' + product.productId) role='dialog' class='fade')
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Thay đổi tên sản phẩm
                                                button.close(type='button' data-dismiss='modal') ×
                                            .modal-body
                                                h6 Tên hiện tại:
                                                h6= product.name
                                                br
                                                form.form-signin(action="/admin/accessories/modify-name/" + product.productId, method="post") 
                                                    .form-label-group
                                                        input#inputnewName.form-control(name='newName' type='text' placeholder='Nhập tên mới...' required='' autofocus='')
                                                    .modal-footer
                                                        button.btn.btn-primary(type='submit') Xác nhận
                                br
                                br
                                button.btn-sm.btn.btn-primary(type='button' data-toggle='modal' data-target='#modifyPrice'+product.productId)
                                    | Thay đổi giá sản phẩm
                                .modal(id= ('modifyPrice' + product.productId) role='dialog' class='fade')
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Thay đổi giá sản phẩm
                                                button.close(type='button' data-dismiss='modal') ×
                                            .modal-body
                                                h6 Giá hiện tại:
                                                h6= product.price.toLocaleString("fi-FI") + '₫'
                                                br
                                                form.form-signin(action="/admin/accessories/modify-price/" + product.productId, method="post") 
                                                    .form-label-group
                                                        input#inputnewPrice.form-control(name='newPrice' type='text' placeholder='Nhập giá mới...' required='' autofocus='')
                                                    .modal-footer
                                                        button.btn.btn-primary(type='submit') Xác nhận
                                br
                                br
                                button.btn.btn-sm.btn-primary(type='button' data-toggle='modal' data-target='#modifyQuantity'+product.productId)
                                    | Thay đổi số lượng sản phẩm
                                .modal(id= ('modifyQuantity' + product.productId) role='dialog' class='fade')
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Thay đổi số lượng sản phẩm
                                                button.close(type='button' data-dismiss='modal') ×
                                            .modal-body
                                                h6 Số lượng hiện tại:
                                                h6= product.quantity
                                                br
                                                form.form-signin(action="/admin/accessories/modify-quantity/" + product.productId, method="post") 
                                                    .form-label-group
                                                        input#inputnewQuantity.form-control(name='newQuantity' type='text' placeholder='Nhập số lượng mới...' required='' autofocus='')
                                                    .modal-footer
                                                        button.btn.btn-primary(type='submit') Xác nhận
                                br
                                br
                                button.btn-sm.btn.btn-danger(type='button' data-toggle='modal' data-target='#deleteProduct'+product.productId)
                                    | Xóa                  
                                .modal(id= ('deleteProduct' + product.productId) role='dialog' class='fade')
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Xóa sản phẩm
                                                button.close(type='button' data-dismiss='modal') ×
                                            .modal-body
                                                h6 Xác nhận xóa sản phẩm:
                                                h6= product.name
                                            .modal-footer
                                                a.btn.btn-primary(href='/admin/accessories/delete/' + product.productId, type='submit') Xác nhận
                    
                    
                    
                    
                    